/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/

$--color-secondary:#230d75;
$--color-secondary-light:#434366;
$--color-secondary-dark:#2c2b3b;


// $bp-largest: 75em;// 1200px/16px
// $bp-large: 68.75em;// 1100px/16px
// $bp-middle: 56.25em;// 900px/16px
// $bp-small: 37.5em;// 600px/16px
// $bp-smaller: 31.25em;// 500px/16px
// $bp-smallest: 28.5em;// 456px/16px
// $iphone: 25em;// 400px/16px

$ipad-pro: 65em; // 1040px /16px
$ipad: 50em; // 800px /16px
$phone: 28.5em;// 456px/16px
$iphone: 25em;// 400px/16px




:root{
// --color-primary:#002645;
--color-primary:#012c50;
--color-primary-light:#003764;
--color-primary-dark:#01223d;

--color-grey-1: #c8c8c8;
--color-grey-1: #e0e0e0;
--color-grey-2: #9b9b9b;
--color-grey-3: #2f3035;

--nunito:'Nunito', sans-serif;
}

$absCenter: translate(-50%, -50%);

*{
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}


html{
  box-sizing: border-box;
}
body{
  max-width: auto;
  font-family: 'Nunito', sans-serif;
  // font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  position: relative;
  background-color: rgb(245, 245, 245);
}