.navbar {
  width: 100%;
  padding: 0;
  opacity: 0.9;
  &-brand {
    padding: 0;
    margin: 0;
    .logo {
      font-size: 2.2rem;
      color: #2979d4;
      font-weight: 700;
      margin-bottom: 0;
      font-family: 'Dancing Script', cursive;
    }
  }
  .navbar-nav {
    flex-direction: row;
  }
}

.nav-item {
  padding: 0.5rem 1rem;
  &:hover {
    background-color: #2979d4;
  }
}
@media (max-width: 768px) {
  .navbar-nav {
    margin: 0 auto;
  }
}
///////////////////////////////////////////////////
//////////////////////////////////
// PAGE-INFO //
.page-info {
  height: 103vh;
  // background-image:url(../img/6.jpg);
  background-image: linear-gradient(
      to right bottom,
      rgba(129, 131, 134, 0.341),
      rgba(96, 97, 98, 0.241)
    ),
    url(../img/imac-bgp.jpg);
  background-size: cover;
  position: relative;

  @media only screen and (max-width: $ipad-pro) {
    height: 100vh;
  }
  @media only screen and (max-width: $ipad) {
    height: 100vh;
  }
  @media only screen and (max-width: $phone) {
    height: 93vh;
  }
  &__box {
    width: 70%;
    height: 20rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: $absCenter;
    text-align: center;
    background-color: transparent;
    padding: 3rem;
    @media only screen and (max-width: $ipad) {
      width: 80%;
      height: 17rem;
      padding: 2rem;
    }
    @media only screen and (max-width: $phone) {
      width: 100%;
      height: 10rem;
      top: 55%;
      padding: 1rem;
    }
  }
  &__text {
    display: block;
    font-family: var(--nunito);
    font-size: 3.5rem;
    letter-spacing: 1px;
    margin-bottom: 4rem;
    color: white;
    @media only screen and (max-width: $ipad-pro) {
      font-size: 3rem;
      letter-spacing: 1px;
      margin-bottom: 3rem;
    }
    @media only screen and (max-width: $ipad) {
      font-size: 2.5rem;
      letter-spacing: 1px;
      margin-bottom: 2rem;
    }
    @media only screen and (max-width: $phone) {
      font-size: 1.5rem;
      letter-spacing: 0.4px;
      margin-bottom: 1rem;
    }
  }

  &__name {
    font-size: 3.5rem;
    font-weight: 400;
    display: inline-block;
    // background-color: rgba(255,255,255, .45);
    border-radius: 30px;
    padding: 0px;
    transform: scale(0.98);
    cursor: pointer;
    transition: all, 0.1s;
    @media only screen and (max-width: $ipad-pro) {
      font-size: 3rem;
    }
    @media only screen and (max-width: $ipad) {
      font-size: 2.5rem;
    }
    @media only screen and (max-width: $phone) {
      font-size: 1.5rem;
    }

    &:hover {
      transform: scale(1.05);
    }
    &-link,
    &-link:link,
    &-link:visited {
      text-decoration: none;
      color: white;
    }
  }
}

///////////////////////////////////////////////////
//////////////////////////////////
// BUTTON //
// .btn,
// .btn:link,
// .btn:visited{
//   width: 13rem;
//   text-transform: uppercase;
//   display: inline-block;
//   text-decoration: none;
//   padding: 1rem 1rem;
//   border-radius: 40px;
//   font-size: 1rem;
//   font-weight: 500;
//   // background-color: rgba(47, 36, 212, 0.966);
//   background-color: #2979d4;
//   border: 3px solid white;
//   color: white;
//   outline: none;
//   box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
//   transition: all, .4s;
//   @media only screen and (max-width: $ipad){
//        width: 10rem;
//        font-size: .8rem;
//        padding: .5rem 1rem;
//     }
//   @media only screen and (max-width: $phone){
//     font-size: .6rem;
//     width: 7rem;
//     padding: .5rem;
//   }
// }
.btn-main {
  text-transform: uppercase;
  width: 13rem;
  border-radius: 40px;
}
.btn-main:hover {
  width: 15rem;
  font-weight: 700;
  // color: rgba(52, 13, 192, 0.918);
  color: #007bff;
  background-color: rgba(255, 255, 255, 0.95);
  // border: 3px solid rgba(65, 75, 218, 0.918);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  @media only screen and (max-width: $ipad) {
    width: 10rem;
  }
  @media only screen and (max-width: $phone) {
    width: 7rem;
  }
}

///////////////////////////////////////////////////
// GUTTER//

.gutter {
  background-image: linear-gradient(
    to right bottom,
    rgb(73, 39, 226),
    rgba(42, 19, 144, 0.787)
  );
  text-align: center;
  color: #fff;
  padding: 1rem;
  @media only screen and (max-width: $ipad-pro) {
    padding: 0.6rem;
  }
  & > * {
    margin-bottom: 1rem;
    @media only screen and (max-width: $ipad) {
      margin-bottom: 0.5rem;
    }
    @media only screen and (max-width: $phone) {
      margin-bottom: 0rem;
    }
  }
  &__title {
    font-size: 3rem;
    font-family: var(--nunito);
    font-weight: 300;
    @media only screen and (max-width: $ipad-pro) {
      font-size: 2.5rem;
    }
    @media only screen and (max-width: $ipad) {
      font-size: 2rem;
    }
    @media only screen and (max-width: $phone) {
      font-size: 1.5rem;
    }
  }
  &__text {
    font-size: 1.2rem;
    font-weight: 300;
    @media only screen and (max-width: $ipad) {
      font-size: 1rem;
    }
    @media only screen and (max-width: $phone) {
      font-size: 0.7rem;
    }
  }
}

///////////////////////////////////////////////////
// FOCUS //
.focus {
  display: flex;
  justify-content: center;
  @media only screen and (max-width: $phone) {
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
  }
  &__part {
    flex: 0 0 23%;
    text-align: center;
    @media only screen and (max-width: $ipad) {
      flex: 0 0 25%;
    }
    &:not(:last-child) {
      margin-right: 3rem;
      @media only screen and (max-width: $phone) {
        margin-right: 0rem;
        margin-bottom: 1rem;
      }
    }
  }
  &__icon {
    display: inline-block;
    width: 6.5rem;
    height: 6.5rem;
    background-image: linear-gradient(
      to right bottom,
      rgb(73, 39, 226),
      rgba(42, 19, 144, 0.787)
    );
    margin-bottom: 1rem;
    border-radius: 50%;
    @media only screen and (max-width: $ipad) {
      width: 5rem;
      height: 5rem;
    }
    @media only screen and (max-width: $phone) {
      width: 3.5rem;
      height: 3.5rem;
      margin-bottom: 0.5rem;
    }

    @supports (-webkit-clip-path: circle(49% at 50% 50%)) or
      (clip-path: circle(49% at 50% 50%)) {
      -webkit-clip-path: circle(49% at 50% 50%);
      clip-path: circle(49% at 50% 50%);
    }
    .icon {
      width: 100%;
      height: 100%;
      transform: scale(0.6);
      fill: #fff;
    }
  }
  &__details {
    h2 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      @media only screen and (max-width: $ipad) {
        font-size: 1.2rem;
      }
      @media only screen and (max-width: $phone) {
        font-size: 1rem;
        margin-bottom: 0.5rem;
      }
    }
  }
}
///////////////////////////////////////////////////
// PROFILE//
.profile {
  width: 80%;
  padding: 2rem 1rem;
  background-color: transparent;
  margin: 3rem auto 0 auto;
  @media only screen and(max-width:$ipad-pro) {
    width: 90%;
    padding: 1.5rem 0.5rem;
    margin: 2rem auto 0 auto;
  }
  @media only screen and(max-width:$ipad) {
    width: 100%;
    padding: 0;
    margin-top: 3rem;
  }
  @media only screen and (max-width: $phone) {
    display: flex;
    flex-direction: column;
    align-items: center;
    // width: 90%;
    // padding: 0;
    // margin: 2rem auto 0 auto;
  }

  &__photo {
    float: left;
    width: 12rem;
    height: 12rem;
    background-color: #2979d4;
    shape-outside: circle(47% at 43% 57%);
    border-radius: 50%;
    transform: translateX(2rem);
    @supports (-webkit-clip-path: circle(49% at 50% 50%)) or
      (clip-path: circle(49% at 50% 50%)) {
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
    }
    @media only screen and (max-width: $ipad) {
      width: 9rem;
      height: 9rem;
    }
    @media only screen and (max-width: $phone) {
      width: 6.5rem;
      height: 6.5rem;
      transform: translateX(0rem);
    }
  }
  &__pic {
    transform: scale(0.98) translate(-0.2rem, -0.2rem);
    @media only screen and (max-width: $ipad) {
      transform: scale(0.75) translate(-2.1rem, -2rem);
    }
    @media only screen and (max-width: $phone) {
      transform: scale(0.55) translate(-5.3rem, -5rem);
    }
  }

  &__text {
    width: 88%;
    line-height: 2;
    transform: translate(5rem, -10px);
    @media only screen and (max-width: $ipad) {
      transform: translate(4rem, -8px);
      line-height: 2;
    }
    @media only screen and (max-width: $phone) {
      width: 90%;
      transform: translate(0);
      line-height: 2;
      margin-top: 1rem;

      h2 {
        text-align: center;
      }
      p {
        margin-bottom: 1rem;
      }
    }
  }
  .skills {
    width: 65%;
    color: #3429d4;
    display: inline-block;
    margin: 1rem 0 0 1rem;
    transform: translateX(3rem);
    padding: 0 1rem;
    @media only screen and (max-width: $ipad-pro) {
      width: 75%;
      padding: 0rem;
      margin: 1rem 0 0 5rem;
      transform: translateX(6rem);
      //  text-align: center;
    }
    @media only screen and (max-width: $ipad) {
      width: 80%;
      padding: 0rem;
      margin: 1rem 0 0 5rem;
      transform: translateX(4rem);
      //  text-align: center;
    }
    @media only screen and (max-width: $phone) {
      width: 100%;
      margin-top: 0;
      margin-left: 0rem;
      padding: 0;
      text-align: center;
      transform: translateX(0rem);
    }
    span {
      display: inline-block;
    }
    & > * {
      font-size: 1.1rem;
      font-weight: 500;
      margin-right: 0.5rem;
      @media only screen and (max-width: $ipad) {
        font-size: 1rem;
        font-weight: 500;
        margin-right: 0.4rem;
      }
      @media only screen and (max-width: $phone) {
        font-size: 0.8rem;
        font-weight: 500;
        margin-right: 0.3rem;
      }
    }
  }
}

///////////////////////////////////////////////////
// PORTFOLIO//
.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  .card {
    border: 0px;
    width: calc(100% / 3 - 2rem);
    height: 23rem;
    border-radius: 5px;
    overflow: hidden;
    margin: 1rem;
    color: var(--color-grey-3);
    background-color: #fff;
    box-shadow: 0rem 2px 5px rgba(0, 0, 0, 0.8);
    transition: all, 0.2s;
    // text-align: center;

    @media only screen and (max-width: $ipad) {
      width: calc(100% / 2 - 3rem);
      margin: 1.5rem;
    }
    @media only screen and (max-width: $phone) {
      width: 90%;
      margin: 1rem auto;
      border-radius: 3px;
    }

    &:hover {
      transform: scale(1.02);
      box-shadow: 0rem 4px 8px rgba(0, 0, 0, 0.5);
    }

    &-thumbnail {
      width: 100%;
      height: 50%;
      @media only screen and (max-width: $phone) {
        height: 60%;
      }
    }
    &-image {
      width: 100%;
      height: 100%;
    }

    &-description {
      height: 50%;
      font-weight: 300;
      text-align: center;
      padding: 0.5rem;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      // @media only screen and (max-width: $phone) {
      //   height: 45%;
      // }
    }
    &-title {
      font-family: var(--nunito);
      font-size: 1.3rem;
      @media only screen and(max-width:$phone) {
        margin-bottom: 0;
      }
    }

    &-text {
      font-size: 0.8rem;
      // margin-bottom: 0.7rem;
      //  padding: 0 .5rem;
      padding: 0 13px;
      @media only screen and(max-width:$phone) {
        padding: 0 20px;
      }
    }

    &-github {
      position: absolute;
      bottom: 0.6rem;
      text-decoration: none;
      color: var(--color-grey-2);
      &:hover {
        color: #2979d4;
      }
      @media only screen and(max-width:$phone) {
        // bottom: 2rem;
      }
    }
  }
}

///////////////////////////////////////////////////
// CONTACT//

.contact-box {
  width: 60%;
  height: 32rem;
  margin: 0 auto;
  border-radius: 10px;
  background-color: rgb(73, 73, 73);
  display: flex;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  @media only screen and (max-width: $ipad-pro) {
    width: 70%;
    height: 30rem;
  }
  @media only screen and (max-width: $ipad) {
    width: 80%;
    height: 25rem;
  }
  @media only screen and (max-width: $phone) {
    width: 95%;
    height: 23rem;
    border-radius: 5px;
  }
  .info {
    width: 50%;
    position: relative;
    @media only screen and (max-width: $ipad-pro) {
      width: 45%;
    }
    @media only screen and (max-width: $phone) {
      display: none;
    }
    &-box {
      width: 75%;
      position: absolute;
      top: 10%;
      left: 10%;

      color: #fff;
      font-size: 0.9rem;

      @media only screen and (max-width: $ipad-pro) {
        width: 90%;
      }
    }
    &-group {
      width: 100%;
      display: flex;
      margin-bottom: 2.5rem;
      align-items: center;
      @media only screen and (max-width: $ipad) {
        margin-bottom: 2rem;
        h2 {
          font-size: 1.6rem;
        }
      }
      .text {
        width: 100%;
        margin-left: 1rem;
        margin-bottom: 0;
      }
    }
  }
}

///////////////////////////////////////////////////
// FORM//

.form {
  width: 55%;
  margin: 0 auto;
  padding: 3rem 1rem 1rem 1rem;
  background-image: linear-gradient(
    to bottom,
    rgb(94, 61, 243),
    rgba(30, 13, 109, 0.787)
  );

  @media only screen and (max-width: $phone) {
    width: 100%;
    padding: 2rem;
  }
  &__group {
    width: 90%;
    margin: 0 auto;
    position: relative;
    @media only screen and (max-width: $phone) {
      width: 100%;
    }

    &:not(:last-child) {
      margin-bottom: 1rem;
      @media only screen and (max-width: $ipad-pro) {
        margin-bottom: 1.5rem;
      }
      @media only screen and (max-width: $phone) {
        margin-bottom: 1rem;
      }
    }
    &:last-child {
      text-align: center;
      margin-top: 2rem;
      @media only screen and (max-width: $ipad-pro) {
        margin-top: 0rem;
      }
    }
  }
  &__icon {
    position: absolute;
    top: 0.75rem;
    left: 0.5rem;
    color: rgba(0, 0, 0, 0.5);
    @media only screen and (max-width: $ipad-pro) {
      top: 0.65rem;
    }
    //  @media only screen and (max-width: $phone){
    //     top: .65rem;
    //   }
  }
  &__input {
    width: 100%;
    font-size: 1rem;
    padding: 0.6rem 1.8rem;
    color: inherit;
    font-family: inherit;
    border-radius: 3px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    @media only screen and (max-width: $ipad) {
      padding: 0.5rem 1.5rem 0.5rem 1.8rem;
    }
    @media only screen and (max-width: $phone) {
      padding: 0.5rem 1.5rem 0.5rem 2rem;
    }

    //  @include respond(tab-port){
    //   width: 100%;
    //   }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.3);
      background-color: rgb(218, 242, 255);
      // border-bottom: 3px solid red;
      &:invalid {
        // border-bottom: 3px solid green;
        background-color: rgb(248, 217, 217);
      }
    }
    // color the placeholder
    &::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.5);
    }
  }

  input.large {
    display: inline-block;
  }
  input.small {
    display: none;
  }
  @media only screen and(max-width:$phone) {
    input.small {
      display: inline-block;
    }
    input.large {
      display: none;
    }
  }

  textarea {
    width: 100%;
    height: auto;
    @media only screen and (max-width: $ipad) {
      height: 8rem;
    }
  }
}

///////////////////////////////////////////////////
// FOOTER//
#main-footer {
  .nav__link {
    text-decoration: none;
    color: #fff;
  }
  .media {
    width: 40%;
    margin: 0 auto;
    .fab {
      color: #fff;
      &:hover {
        color: #2979d4;
      }
    }
  }
  @media only screen and(max-width:$phone) {
    .media {
      width: 90%;
    }
  }
}
