.header{
  width: 100%;
  // height: 4.5rem;
  background-color: var(--color-grey-3);
  // position: fixed;
  // z-index: 1000;
}




.section-intro{
  padding: 2rem 0;
}
.section-portfolio{
  margin: 0 auto;
  max-width: 80rem;
  padding: 2rem 8rem;
}

.contact{
  padding: 5rem 0;
}

footer{
  padding: 3rem;
  background-color: var(--color-grey-3);
}