.header {
  width: 100%;
  // height: 4.5rem;
  background-color: var(--color-grey-3);
  // position: fixed;
  // z-index: 1000;
}

.section-intro {
  padding: 2rem 0;
  font-size: 0.9rem;
  @media only screen and (max-width: $ipad-pro) {
    padding: 1.5rem 0;
  }
  @media only screen and (max-width: $ipad) {
    font-size: 0.8rem;
    padding: 2rem 0rem;
  }
  @media only screen and (max-width: $phone) {
    font-size: 0.7rem;
    padding: 1.5rem 0rem;
  }
}

.section-portfolio {
  margin: 0 auto;
  max-width: 80rem;
  padding: 2rem 5rem;
  @media only screen and (max-width: $ipad-pro) {
    padding: 1.5rem;
  }
  @media only screen and (max-width: $ipad-pro) {
    padding: 2rem;
  }
  @media only screen and (max-width: $phone) {
    padding: 1rem;
  }
}

.contact {
  padding: 5rem 0;
  @media only screen and (max-width: $ipad) {
    padding: 2rem 0;
  }
  @media only screen and (max-width: $phone) {
    padding: 1rem 0;
  }
}

footer {
  background-color: var(--color-grey-3);
  @media only screen and (max-width: $ipad-pro) {
    padding: 2rem;
  }
}
